:root {
  --primary: #0969da;
  --violet: #a278e6;
  --orange: #ffa94d;
  --green: #4be0bb;
  --yellow: #ffd700;
  --blue-light: #56a5ff;
  --white: #fcfcfc;
  --red: #ff5e94;
  --gray: #edeef7;
  --primary-light: #0969da20;
  --bg: #000000;
  --bg-column: #f6f4f5;
  --bg-blue: #0969da20;
  --border: #f0f0f0;
  --border-darker: #b2b2b2;
  --column-border: #e1e1e1;
  --header-color: #6c6e6e;
  --header-svg: #adadad;
  --navbar-height: 60px;
  --text: #3c3c3c;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-style: 16px;

  background-color: var(--bg);

  display: flex;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.columns {
  margin: 0 auto;
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  max-width: 50rem;
  width: 100%;
  min-height: 40rem;
  height: fit-content;
}

.column {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 1fr;
  background: var(--white);
  border-radius: 0.75rem;
  border: 1px solid var(--column-border);
}

.columnHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--header-color);
}

.columnHeader button {
  background: none;
  border: none;
  cursor: pointer;
}

.columnHeader box-icon {
  stroke: var(--header-color);
  width: 1.5rem;
  height: 1.5rem;
}

#tasksToDo,
#tasksDoing,
#tasksDone {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.65rem;
  height: 100%;
  min-width: 100%;
  background: var(--bg-column);
}

.task {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: var(--text);
  padding: 1rem;
  background: var(--white);
  border: 1px solid var(--column-border);
}

.task header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.45rem;
  font-size: 0.85rem;
}

.taks header svg {
  stroke: var(--header-svg);
  width: 1.25rem;
  height: 1.25rem;
}

.task footer {
  display: flex;
  font-size: 0.85rem;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.task .profile {
  width: 2rem;
  height: 2rem;
  font-size: 0.75rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.task .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--border-darker);
}

.task .profileJx {
  background: var(--orange);
}

.task .profileMR {
  background: var(--violet);
}

.task .profileCE {
  background: var(--red);
}

.tags {
  display: flex;
  gap: 0.5rem;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;

  width: 100px;
  height: 25px;
  border-radius: 15px;
}

span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.tagFrontEnd {
  background: var(--orange);
}

.tagBackEnd {
  background: var(--green);
}

.tagDesign {
  background: var(--yellow);
}

.tagDocument {
  background: var(--blue-light);
}

.task:hover {
  cursor: grab;
}
